// Media Query HOME

/* Media Query Tablet Home */

@media screen and (min-width:600px) and (max-width:1023px) {
  main {
    .cartelera {
      grid-template-columns: auto auto;
    }
  }
}

/* Media Query Desktop Home */

@media screen and (min-width:1023px) {
  main {
    .cartelera {
      grid-template-columns: auto auto auto;
    }
  }
  header {
    .navbar {
      .cambio-navbar {
        .texto-navbar {
          .menu-navbar {
            li {
              a:hover {
                color: $color-white;
                background-color: $color-darker-blue;
                border-radius: 24px;
              }
            }
          }
        }
      }
    }
  }
}