// Contacto

@import "../utilidades/variables";

/* Contacto */

main{
  .caja-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 95px;
    margin-bottom: 150px;
    .caja-contacto-texto{
      display: flex;
      flex-direction: column;
      box-shadow: $sombra-caja;
      padding: 40px 70px;
      gap: 40px;
      background-color: rgb(245, 245, 245);
      text-align: center;
      div{
        h3{
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 22px;
          color: $color-blue;
          margin-bottom: 14px;
          border-bottom: 1px solid $color-blue;
          padding-bottom: 6px;
        }
        // Extend
        p{
          @extend h3;
          font-size: 14px;
          line-height: 20px;
          min-width: 200px;
          color: #212529;
          border: none;
          margin-bottom: 0;
        }
      }
      .caja-contacto-formulario{
        display: flex;
        flex-direction: column;
        gap: 2px;
        input, textarea{
          display: block;
          margin-bottom: 8px;
          padding: 6px 20px 6px 8px;
          font-family: Arial, Helvetica, sans-serif;
        }
        .boton-formulario{
          background-color: $color-blue;
          color: $color-white;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 18px;
          padding: 6px;
          border: none;
        }
        .boton-formulario:hover{
          background-color: #4556ee;
          transition: all 0.5s ease;
        }
        .boton-formulario:active{
          background-color: $color-light-blue;
          color: $color-white;
          transform: translateY(1px);
          transition: transform 0.2s ease, background-color 0.3s ease;
        }
      }
    }
  }
}

@import "contacto-mq";