// Media Query ENTRADAS

/* Media Query Tablet Entradas */

@media screen and (min-width: 600px) {
  .main-entrada{
    .entradas-titulo{
      font-size: 26px;
      margin-right: 180px;
    }
    .caja-entradas{
      max-width: 550px;
      .selectores{
        gap: 20px;
      }
    }
  }
}

@media screen and (min-width: 1023px) {
  .main-entrada{
    .entradas-titulo{
      margin-right: 600px;
    }
  }
  
}