// ENTRADAS

@import "../utilidades/variables";

/* Entradas */
.main-entrada{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 120px 20px 320px;
  .entradas-titulo{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 60px;
    color: $color-darker-blue;
    text-decoration: underline;
  }
  .caja-entradas{
    background-color: $color-white;
    max-width: 400px;
    border-radius: 1px;
    box-shadow: $sombra-caja;
    padding: 25px;
    border: none;
      .selectores{
        display: flex;
        gap: 12px;
        justify-content: center;
        margin-bottom: 20px;
        margin-right: 10px;
        select{
          padding: 6px 12px 6px 4px;
          background-color: rgb(224, 224, 224);
          border-radius: 20px;
          box-shadow: 1px 1px 3px gray;
          border: none;
          font-size: 12px;
        }
      }
      .info-pago{
        font-size: 20px;
        line-height: 22px;
        .info-pago-total{
          font-size: 22px;
          font-weight: 700;
          border-top: 3px dashed rgb(139, 139, 139);
          display: block;
          padding-top: 10px;
          margin-top: 26px;
          text-align: right;
        }
      }
      .botones-entradas{
        display: flex;
        justify-content: space-between;
        margin-top: 24px;
        margin: 26px 24px 1px 18px;
        button{
          padding: 8px 16px;
          font-size: 12px;
          background-color: rgb(224, 224, 224);
          border: none;
          box-shadow: 1px 1px 3px rgb(133, 133, 133);
        }
        button:hover{
          background-color: rgb(204, 204, 204);
          transition: all 0.5s ease;
        }
        button:active{
          background-color: rgb(54, 54, 54);
          color: $color-white;
          transform: translateY(2px);
          transition: transform 0.2s, background-color 0.3s;
        }
        .botones-entradas-derecha{
          display: flex;
          gap: 14px;
          .boton-comprar-entradas{
            color: $color-white;
            background-color: $color-blue;
            font-weight: 700;
          }
          .boton-comprar-entradas:hover{
            background-color: $color-blue-hover;
            transition: all 0.5s ease;
          }
          .boton-comprar-entradas:active{
            background-color: $color-light-blue;
            color: $color-white;
            transform: translateY(2px);
            transition: transform 0.2s ease, background-color 0.3s ease;
          }
          a{
            .boton-volver{
              color: $color-white;
              background-color: rgb(134, 134, 134);
            }
            .boton-volver:hover{
              background-color: rgb(117, 117, 117);
              transition: all 0.5s ease;
            }
            .boton-volver:active{
              background-color: rgb(54, 54, 54);
              color: $color-white;
              transform: translateY(2px);
              transition: transform 0.2s ease, background-color 0.3s ease;
            }
          }
        }
      }
    }
  }

@import "entradas-mq"
