// Header y NavBar Bootstrap / footer

@import "../utilidades/variables";

// Fondo Degrade
body {
  background-image: linear-gradient(to top, rgb(192, 192, 192),whitesmoke);
}

/* Header y NavBar*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  .navbar {
    .cambio-navbar{
      div{
        a{
          text-decoration: none;
          img{ 
            height: 22px;
            margin-left: 6px;
            border-radius: 4px;
            display: inline-block;
          }
          .logo-texto{
            font-family: $font-principal-titulos;
            font-weight: 400;
            font-size: 25px;
            color: $color-white;
            margin-bottom: 0;
            margin-left: 6px;
            display: inline-block;
            position: relative;
            top: 4px;
          }
        }
      }
      .texto-navbar{
        .menu-navbar{
          li{
            a{
              color: $color-white;
              text-align: right;
              &:hover{
                background-color: $color-darker-blue;
                padding-right: 8px;
                border: none;
                transition: background-color 0.2s;
              }
            }
            .pagina-actual{
              border-bottom: 2px solid $color-white;
              &:hover{
                border-bottom: 2px solid $color-white;
                border-radius: 0;
                background-color: $color-dark-blue;
              }
            }
          }
        }
      }
      .burger-navbar {
        border: none;
        width: 48px;
        height: 40px;
        border-radius: 24px;
        color: whitesmoke;
        position: relative;
        left: 8px;
        &:hover{
          background-color: $color-darker-blue;
          transition: background-color 0.2s;
        }
        .burger-navbar-icon {
          width: 24px;
        }
      }
    }
  }
  .primary-bg{
    background-color: $color-dark-blue;
  }
}

main {
  margin-top: 70px;
  margin-bottom: 34px;
}

//footer
/*footer*/

footer {
  background-color: $color-dark-blue;
  color: $color-white;
  position: relative;
  top:20px;
  p {
    font-size: 12px;
    text-align: center;
    color: rgb(189, 202, 216);
    padding: 6px 0;
  }
  .footer-redes{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20px;
    margin-bottom: 38px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .footer-logo-cine{
      border-bottom: 2px solid;
      padding-bottom: 5px;
      animation-name: parpadeo;
      animation-duration: 12s;
      animation-iteration-count: 3;
      animation-delay: 10s; 
      img{
        width: 90px;
      }
    }
    @keyframes parpadeo {
      0%{opacity: 1;}
      50%{opacity: 0;}
      100%{opacity: 1;}
    }
    div{
      display: flex;
      flex-direction: row;
      gap: 20px;
      a{
        img{
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .no-copy{
    border-top: 1px solid;
  }
}
