@import "../utilidades/variables";

// HOME

/*HOME*/

main {
  .banner-slide-cambios{
    width: 96%;
    margin: 0 auto 14px;
    box-shadow: 0px 6px 7px rgba(128, 128, 128, 0.774);
  }
  a{
    .cartelera-titulo {
      font-family: $font-principal-titulos;
      font-weight: 600;
      font-size: 22px;
      color: $color-darker-red;
      text-decoration: underline;
      text-align: center;
      margin-bottom: 6px;
    }
  }
  .cartelera {
    display: grid;
    justify-content: space-around;
    gap: 16px;
    align-content: center;
    div {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 12px;
      background-color: $color-dark-red;
      border: 5px solid $color-dark-red;
      box-shadow: $sombra-caja;
      z-index: 1;
      a {
        color: $color-white;
        text-decoration: none;
        font-family: Arial;
        font-size: 14px;
        p {
          margin-top: 6px;
          margin-bottom: 1px;
        }
      }
    }
    div:hover{
      box-shadow: 1px 2px 18px gray;
      transform: scale(1.02,1.02);
      transition: all 0.4s ease;
    }
  }
}

@import "home-mq"