// Paleta de colores

$color-dark-red: #651c20; 
$color-darker-red: #3c0b10;
$color-red:#b72b31;
$color-red-hover: #db6b70;
$color-white: whitesmoke;
$color-light-red:#6e0c14;
$color-grey:rgb(133, 133, 133);
$color-green: #4a8f39;

// Sombra

$sombra-caja: 1px 1px 8px gray;

// Fuente

$font-principal-titulos: "Poppins", sans-serif;