// Paleta de colores

$color-dark-blue:#1C2465; 
$color-darker-blue:#0b1457;
$color-blue:#3342f2;
$color-blue-hover:#4556ee;
$color-white: whitesmoke;
$color-light-blue:#5a6af0;
$color-grey:rgb(133, 133, 133);
$color-red: #651c20;
$color-green: #4a8f39;

// Sombra

$sombra-caja: 1px 1px 8px gray;

// Fuente

$font-principal-titulos: "Poppins", sans-serif;