// Paleta de colores

$color-dark-blue:#651c20; 
$color-darker-blue:#3c0b10;
$color-blue:#b72b31;
$color-blue-hover:#db6b70;
$color-white:whitesmoke;
$color-light-blue:#6e0c14;
$color-grey:rgb(133, 133, 133);
$color-red:#651c20;
$color-green:#4a8f39;

// Sombra

$sombra-caja: 1px 1px 8px gray;

// Fuente

$font-principal-titulos: "Poppins", sans-serif;